@import url('https://fonts.googleapis.com/css2?family=Lemonada&family=Roboto+Slab&display=swap');

/* general styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lemonada, Helvetica, sans-serif;
}

p,
a,
span {
    font-family: Roboto Slab, Helvetica, sans-serif;
}


/* header */

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #688BF5;
    height: 100%;
    display: none;
    padding: 0.5rem;
    color: white;
}

#banner p {
    text-align: center;
    margin: 0px;
}

nav {
    background-color: #5464A3;
    padding: 10px 0px;
}

nav ul.open {
    display: block;
}

nav button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    color: white;

}

nav ul li:hover {
    background-color: #688BF5;
    border-radius: 0.5rem;
}

#menuIconTitle {
    display: flex;
    align-items: center;
}

#menuIconTitle img {
    width: 90px;
}

#menuIconTitle h3 {
    color: white;
    width: 9rem;
    margin-left: 1rem;
}

#date,
#visits {
    padding: 0px;
    left: 45vw;
    text-align: center;
    color: white;
    margin: 0px;
}

#topMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hamburgerBtn {
    font-size: 2rem;
    padding: 0px;
    margin: 0px;

    margin-right: 20px;
    cursor: pointer;
    color: white;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none
}

#hamburgerBtn.open span:nth-child(2) {
    display: block
}

.socialImg {
    margin: 5px;
    width: 25px;
    cursor: pointer;
}

#socialNav {
    display: flex;
}


/* main */

main div {
    display: block;
    font-family: Roboto Slab, Helvetica, sans-serif;
}

main {
    display: block;
}

#hero {
    width: 100%;
    position: relative;
}

#hero img {
    width: 100%;
    /* object-fit: none;  */
    border-radius: 0.5rem;
    object-position: center;
    position: relative;
}

#hero h3 {
    font-size: 2rem;
    top: 10px;
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
}


#hero div {
    width: 100%;
    top: 200px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero button {
    border: none;
    padding: 1rem;
    color: white;
    cursor: pointer;
    background-color: #5464A3;
    border-radius: 1rem;
    width: auto;
}

#hero button:hover {
    background-color: #688BF5;
}

#join {
    background-color: #5464A3;
    border-radius: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
}


#join p {
    color: white;
}

#join button {
    border: none;
    padding: 1rem 5rem;
    color: white;
    cursor: pointer;
    background-color: #688BF5;
    border-radius: 1rem;
    width: auto;
}

#join button:hover {
    background-color: white;
    color: #5464A3;
}

#join p {
    padding: 0.5rem;
}


.sectionContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#hero,
#join,
#event,
#weather,
#news,
#spotlight {
    margin-top: 1rem;
    min-height: 300px;
}

#event {
    background-color: #5464A3;
    border-radius: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
}

#event a,
#event p {
    color: white;
    text-align: center;
}

#event a:hover {
    color: #688BF5;
}


#weather {
    background-color: #5464A3;
    border-radius: 0.5rem;
    width: 100%;
}

#weather p {
    padding: 0px;
}


hr {
    width: 100%;
}

#weather img {
    width: 120px;
}

#weather .sectionContainer:last-child {
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#weather #weatherImg {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

#weather h3 {
    margin-bottom: 0px;
}

#weather #weatherImg p {
    font-size: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#news {
    background-color: #5464A3;
    width: 100%;
    border-radius: 0.5rem;
}

#news .sectionContainer p {
    padding: 0px 30px;
}


#spotlight {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spotlightItem img {
    width: 100%;
}

.spotlightItem a {
    color: #5464A3;
}

.spotlightItem a:hover {
    color: #688BF5;
}


.spotlightItem p,
.spotlightItem a,
.spotlightItem h6 {
    text-align: center;
}


#weatherPicture {
    display: none;
}

#weatherDescription {
    justify-content: center;
    display: flex;
}

/* footer */

footer {
    display: flex;
    padding: 1rem 0rem;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    background-color: #5464A3;
}

#footerLogo {
    width: 7rem;
}

footer p,
footer h4,
footer a,
footer span {
    color: white;
    text-align: center;
    margin: 0px;
    margin-top: 1rem;
}


#mapLink {
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;
    font-size: 1rem;
    display: flex;
}

#mapLink p {
    padding: 0px;
    margin: 0px;
    text-decoration: underline;
    cursor: pointer;
}

#information {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#companyInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#developedBy {
    width: 90%;
    padding-top: 0.1rem;
    border-top: 1px solid white;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#developedBy p {
    margin: 0.1rem;
}


/* discover page  */

#discover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#discover section {
    display: flex;
    align-items: center;
    width: 80%;
    flex-direction: column;
}

#discover img {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    border: none;
    transition: .5s ease;
}

#demographic {
    background-color: #688BF5;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}


/* join page  */

#joinpage {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

form {
    width: 100%;
}


form fieldset {
    background-color: #5464A3;
    border-radius: 8px;
    margin-top: 10px;
    border: solid 1px #ccc;
}

form #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form .group {
    flex-direction: column;
    display: flex;
    padding: 1rem;
    width: 80%;
    align-items: flex-start;
    justify-content: center;
}

form input {
    padding: 0.8rem 1rem;
    border-radius: 6px;
    width: 100%;
    border: none;
    background: white;
}

form label {
    color: white;
}


form #membership {
    color: white;
}

#membershipSelection .group {
    flex-direction: row;
    justify-content: flex-start;
}

#membershipSelection .group input {
    width: auto;
    margin-right: 10px;
}

form #describe {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

form #describe textarea {
    width: 100%;
    min-height: 150px;
}


form #btn {
    background-color: #5464A3;
    margin-top: 1rem;
    color: white;
    cursor: pointer;
}

form #btn:hover {
    background-color: #688BF5;
}


form input:required {
    border-left: 6px solid red;
    outline: none;
}

form input:required:valid {
    border-left: 6px solid green;
    outline: none;
}

legend {
    background-color: #5464A3;
    color: white;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 5px 10px;
}


#thankyou {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #688BF5;
    margin-top: 30px;
    border-radius: 1rem;
    justify-content: center;
    min-height: 500px;
}

#thankyou h1 {
    color: #EEE;
    text-shadow: -1px -2px 3px #5464A3;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: -5px;
}

#thankyou h1 underline {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 3px;
}

#thankyou h3 {
    margin-left: 16px;
    margin-top: 0px;
    font-weight: 600;
    color: white;
}

#thankyou img {
    margin-top: 50px;
}


#membershipSection {
    margin-top: 10px;
    width: 100%;
    background-color: #5464A3;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    list-style: none;
}

#membershipSection td {
    padding-top: 20px;
}


/* directory page  */
#directory {
    flex-direction: column;
    display: flex;
    width: 100%;
    align-items: center;
}

#directory .cards-list {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: 25px 25px;
    border: solid #5464A3 1px;
}




#directory .cards-list section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 1rem;

}


#directory .cards-list section img {
    display: none;
}

#directory .cards-list section:nth-child(odd) {
    background-color: #5464A3;
    color: white;
}

#directory .cards-list section h2 {
    font-size: 1rem;
    margin-left: 0;

}

#directory .cards-list section p,
.cards-list section a {
    font-size: 0.8rem;
}


#directory .cards-grid {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1.5rem;
    margin: 25px 25px;
    width: 80%;
    background-color: #5464A3;
}

#directory .cards-grid section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    padding: 1rem;
    background-color: #eeeeee;
    border-radius: 8px;
}

#directory .cards-grid h2 {
    font-size: 2.5rem;
    color: #5464A3;
    margin-bottom: 1rem;
}

#directory .cards-grid img {
    width: auto;
    border-radius: 8px;
    max-width: 325px;
    height: 100px;
    margin-top: 1rem;
}

#directory .viewType {
    background-color: #5464A3;
    border-radius: 8px;
    color: white;
    display: inline-flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}


/* contact page  */

#contactPage {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
