@media only screen and (min-width: 35rem) {
   #hamburgerBtn {
      margin-left: 90px;
      margin-right: 0px;
   }

   nav {
      padding: 10px 20px;
   }

   #information {
      flex-direction: row;
      justify-content: space-between;
   }

   #menuIconTitle h3 {
      width: 12rem;
   }

   #information div:nth-child(1) {
      padding: 0px 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   #information div:nth-child(2) {
      padding: 0px 2rem;
   }

   #event {
      display: inline-flex;
      width: 59%;
   }

   #weather {
      width: 40%;
      display: inline-flex;
   }

   #companyInformation {
      flex-direction: row;
   }

   #developedBy {
      flex-direction: row;
   }

   #developedBy p {
      padding: 0px 0px;
   }

   #developedBy p::after {
      content: " | "
   }

   #developedBy p:last-child:after {
      content: ""
   }

   #discover img:hover {
      box-shadow: 0 0 0 3px #ccc;
      transition: .5s ease;
   }

   #discover section {
      width: 50%;
   }

   form {
      width: 50%;
   }

   #thankyou h1 {
      font-size: 50px;
   }

   #thankyou {
      width: 90%;
   }

   #joinpage {
      flex-direction: row;
   }

   #contactPage {
      flex-direction: row;  
   }

   #membershipSection {
      width: 30%;
   }


   #directory .cards-list section {
      display: grid;
      grid-template-columns: 1.25fr 1fr 1fr 1fr 1fr;

   }

   #directory .cards-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
   }

}