@import url('https://fonts.googleapis.com/css2?family=Lemonada&family=Roboto+Slab&display=swap');

body{
    margin: .5rem;
    padding: .5rem;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 16px;
}



header {
    display: flex;
    background-color: #5464A3;
    color: #ffffff;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#picture {
    border-radius: 10px;
    height: 150px;
    margin-right: 50px;
    
}

.main {
    padding: 1rem;
}

footer {
    background-color: #5464A3;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    font-size: .9rem;
}

footer span {
    text-decoration: underline;
}

#lastDate {
    color: #F7F8FF;
}